@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

.contact {
    height: 100vh;
  }
  
.title {
  color: #A25DC4;
  text-align: center;
  font-family: 'Roboto Mono';
  padding-top: 20px;
  @media screen and (min-width: 600px){
    font-size: 50px;
  }
}

.titleContainer{
  height: 15%;
}

.iconContainer{
  height: 85%;
}

.iconEmail{
  padding: 30px;
  margin: 50px;
  text-align: center;
  font-size: 200px;
  border-radius:10%;
  color: white;
  background: linear-gradient(#00E9B3 , #00D5FF);
  @media screen and (max-width: 600px){
    font-size: 120px !important;
    padding: 10px !important;
  }
} 

.iconLinked{
  margin: 50px;
  padding: 20px;
  text-align: center;
  font-size: 200px;
  border-radius:10%;
  color: white;
  background: linear-gradient(#00D5FF ,#00E9B3);
  @media screen and (max-width: 600px){
    font-size: 130px !important;
    padding: 10px !important;
  }
}
